.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 12%; 
  background-color:#21325e;
    
  }
  
  .socialMedia svg {
    color: white;
    padding-top: 50px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }