body{
  margin-bottom: 5%;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,33%);
    grid-gap: 5px;
    grid-template-rows: repeat(auto-fit);  
    color: white;
    background-color: #3e497a;
    text-align: center;
    justify-items: center;
  }
  ul {
    
    display: grid;
    grid-template-rows: 20px 10px ;
    grid-template-columns: 135px 175px;
    grid-gap: 25px;
    justify-items: center;
    background-color: #3e497a;
    list-style-type: none;
  }

  ul li{
    width: 50%;}
  
h3{
    text-align: center;
}
.nonTechnical >ul {
  grid-template-rows: repeat(auto-fit, minmax(15px, 30px));
  grid-template-columns: repeat(auto-fit, minmax(600px, 300px));
}

@media  (max-width: 550px) {
  body{
    margin: 0%;
    padding: 0%;
    border: 0ch;
    display:grid;
  }
  
    .wrapper {
        width: 100%;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, 100%) ;  
        color: white;
        background-color: #3e497a;
        text-align: center;
        margin-bottom: 100px;
      }
      ul {
        display: grid;
        grid-template-columns: repeat(1);
        grid-gap: 5px;
        background-color: #3e497a;
        text-align: center;
        
        list-style-type: none;
      }
    
      ul li{
        width: 50%;}
        
    
    h3{
        text-align: center;
    }
   div{
        width: 100%;
    }
    .nonTechnical ul{
        grid-template-columns: repeat(auto-fit, minmax(500px, 130px));
    }
 
}